.loginscreen {
    width: 100%;
    /*height: 100%;*/
    left: 0;
    padding-top: 30px;
    background: #F6F7FB;
    background-image: url("../img/svg/Line background.svg");
    background-repeat: no-repeat;
    background-size: auto;
}

.login-card {
    background: #FFFFFF;
    margin-top : 65px;
    mix-blend-mode: normal;
    border: 4px solid #FFFFFF;
    padding: 20px 50px 40px 50px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(70, 72, 219, 0.25);
    -moz-box-shadow: 0 0 15px rgba(70, 72, 219, 0.25);
    -webkit-box-shadow: 0 0 15px rgba(70, 72, 219, 0.25);
    -o-box-shadow: 0 0 15px rgba(70, 72, 219, 0.25);
}

.login-padding {
    padding: 60px;
}

@media only screen and (max-width: 600px) {
    .login-padding {
        padding: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .login-card {
        margin-top : 0px;
    }
}

.logincard-background {
    background: #3949DB;
    mix-blend-mode: normal;
    opacity: 0.2;
    filter: blur(43px);
    border-radius: 5px;
}

.login-text {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    line-height: 47px;
    background: linear-gradient(180deg, rgba(57,73,219,1) 0%, rgba(200,59,220,1) 90%, rgba(57,73,219,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.username {
    font-style: normal;
    font-weight: 500;
    font-size: 12.8px;
    line-height: 147.6%;
}

.password {
    font-style: normal;
    font-weight: 500;
    font-size: 12.8px;
    line-height: 147.6%;
}

.checkboxremember {
    width:20px !important;
    height: 20px;
    border: 1px solid #1D1D1D;
    box-sizing: border-box;
    border-radius: 4px;
}

.loginbutton {
    background: #3949DB;
    border-radius: 41px;
    color: #fff;
    width: 90%;
    margin: 0 auto;
}

.forgot-text {
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;
/* identical to box height */

text-align: center;
letter-spacing: 0.3px;

color: #A7A7A7;
}
/* form starting stylings ------------------------------- */
.group { 
  position:relative; 
  margin-bottom:40px; 
}
#loginform input {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    padding:10px 10px 10px 10px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
}
input:focus { outline:none; }

/* LABEL ======================================= */
#loginform label {
  color:#999; 
  font-size:12.8px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
#loginform input:focus ~ label, #loginform input:valid ~ label {
  top:-20px;
  font-size:12.8px;
  color:#999999;
  margin-left: -5px;
}

/* BOTTOM BARS ================================= */
.bar { position:relative; display:block; width:100%; }
.bar:before, .bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:0px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
/*.highlight {
  position:absolute;
  height:60%; 
  width:100%; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}*/

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}

.register-text {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    line-height: 47px;
    background: linear-gradient(180deg, rgba(57,73,219,1) 0%, rgba(200,59,220,1) 90%, rgba(57,73,219,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#registerform .register-label {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #1D1D1D;
}

#registerform .termsandcondition {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #1D1D1D;
    opacity: 0.9;
}

.registerbutton {
    background: #3949DB;
    border-radius: 41px;
    color: #fff;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    padding: 10px 10px 10px 10px;
    border: 1px solid transparent;
    text-align: center;
    letter-spacing: 0.3px;
    width: 60%;
    margin: 0 auto;
}

.checkboxtc {
    width: 20px !important;
    height: 20px;
}


/* Clearable text inputs */
.clearable{
  background: #fff url("../img/svg/Vector.svg") no-repeat right -20px center;
  border: 1px solid #999;
  padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
  transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
.clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
.clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */